@import '../../../utils/variables/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .form {
        padding: 100px 0px;
        width: 300px;
    }

    .submit {
        background-color: $color_primary;
        color: $color_secondary;
        border: 1px solid $color_primary;
        margin-top: 20px;
        width: 100%;

        &:active {
            background-color: $color_primary;
            color: $color_secondary;
            border: 1px solid $color_primary;
        }
    }

    .new_user {
        margin: 20px 0px 0px;
        text-align: center;
        text-decoration: underline;
        font-style: italic;
        color: darkslateblue;
    }


}