@import '../utils/variables/colors.scss';

.container {
    width: 100%;
    display: flex;

    .tailor_side_bar {
        width: 20%;

        .image_container {
            display: flex;
            justify-content: center;
        }

        .items {
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .item {
                text-decoration: none;
                color: black;
                cursor: pointer;
                width: 100%;
                display: flex;
                padding: 15px;

                img {
                    margin-right: 5px;
                }

                .link {}
            }

            .item_active {
                text-decoration: none;
                color: black;
                cursor: pointer;
                width: 100%;
                display: flex;
                padding: 15px;

                background-color: $color_primary;
                border-radius: 10px;

                img {
                    margin-right: 5px;
                }

                .link {}
            }
        }
    }

    .customer_side_bar {
        width: 20%;
        background-color: $color_primary;

        .image_container {
            display: flex;
            justify-content: center;
            background-color: $color_primary;

            img {
                cursor: pointer;
            }
        }

        .items {
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .item {
                text-decoration: none;
                color: black;
                cursor: pointer;
                width: 100%;
                display: flex;
                padding: 15px;

                img {
                    margin-right: 5px;
                }

                .link {}
            }

            .item_active {
                text-decoration: none;
                color: black;
                cursor: pointer;
                width: 100%;
                display: flex;
                padding: 15px;

                background-color: rgb(136, 239, 136);
                border-radius: 10px;

                img {
                    margin-right: 5px;
                }

                .link {}
            }
        }
    }

    .content {
        width: 80%;

        .header_flex {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

        .profile {
            position: relative;

            .avatar {
                cursor: pointer;
                margin: 0px 15px;
            }

            .open_menu {
                right: 0;
                z-index: 9;
                position: absolute;
                background-color: white;
                box-shadow: 0px 0px 2px 0px rgb(193, 193, 193);
            }

            .close_menu {
                display: none;
            }
        }

        .search_bar {
            width: 100%;
            margin: 20px 200px;
        }

        .cart {
            opacity: 0.7;
            cursor: pointer;
        }

        .not_verified {
            width: 200px;
            background-color: $color_not_verfied;
            border: 1px solid $color_not_verfied;

            :active {
                background-color: $color_not_verfied;
                border: 1px solid $color_not_verfied;
            }
        }

        .verified {
            width: 200px;
            background-color: $color_verfied;
            border: 1px solid $color_verfied;

            :active {
                background-color: $color_verfied;
                border: 1px solid $color_verfied;
            }
        }


        .outlet {
            padding: 30px 40px;
            background-color: #f6f6f6;
        }
    }

}