@import '../../../utils/variables/colors.scss';

.container {
    margin: 0px 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 60px;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 100px;
    box-shadow: 0px 0px 18px 0px $color_primary;

    .empty_cart {
        font-size: 28px;
        font-weight: 600;
        margin: 16px 0px;
        text-align: center;
    }

    .label {
        font-size: 28px;
        font-weight: 600;
        margin: 16px 0px;
    }

    .plan_container {
        margin-bottom: 24px;

        .select_plan {
            font-size: 18px;
            font-weight: 600;
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    .add_cart {
        background-color: $color_primary;
        color: $color_secondary;
        border: 1px solid $color_primary;


        &:active {
            background-color: $color_primary;
            color: $color_secondary;
            border: 1px solid $color_primary;
        }
    }

    .place_order {
        margin-bottom: 48px;
        background-color: $color_primary;
        color: $color_secondary;
        border: 1px solid $color_primary;
        width: 100%;

        &:active {
            background-color: $color_primary;
            color: $color_secondary;
            border: 1px solid $color_primary;
        }
    }
}